body
{
    color: red;
    text-align: left;
    font-family: Arial;
    font-size: 16px;
}
#cabecera
{
    background:darkcyan;
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    
}
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid blue;
    margin: auto;
}

#container h1
{
    font-size: 20px;
}
#post
{
    padding: 1em;
}